.container-xl .content .card .edit {
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.container-xl .content .card .edit button {
    width: 38px;
    font-weight: bold;
}

.container-xl .content .card .edit span {
    margin: 0 5px;
}

.container-xl .total{
    text-align: center;
    font-size: 24px;
}